<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>

        <Console name="LogToConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

        <File name="LogToFile" fileName="logs/app.log">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
            <!--
            <Policies>
                <SizeBasedTriggeringPolicy size="10MB" />
            </Policies>           
            <DefaultRollOverStrategy max="10" /> 
            -->
        </File>

        <Jdbc name="DatabaseAppender" tableName="log4j2.systemlog">
            <DriverManager
                    connectionString="jdbc:postgresql://localhost:5432/teste" 
                    driverClassName="org.postgresql.Driver" 
                    username="postgres" 
                    password="postgres"  />
            <Column name="eventdate" isEventTimestamp="true" />
            <Column name="level" pattern="%level" isUnicode="false" />
            <Column name="logger" pattern="%logger{36}" isUnicode="false"/>
            <Column name="message" pattern="%message" isUnicode="false" />
            <Column name="exception" pattern="%exception"  isUnicode="false" />
        </Jdbc>

    </Appenders>
        
    <Loggers>
        <Logger name="br.cnj.projeto" level="ALL" additivity="false">
            <AppenderRef ref="LogToFile"/>           
            <AppenderRef ref="DatabaseAppender"/>
        </Logger>
        <Logger name="org.springframework" level="WARN" additivity="false">
            <AppenderRef ref="LogToFile"/>
            <!--
            <AppenderRef ref="LogToConsole"/>
            -->    
        </Logger>
        <Root level="OFF">
            <AppenderRef ref="LogToConsole"/>
            <AppenderRef ref="LogToFile"/>
            <AppenderRef ref="DatabaseAppender"/>
        <!--
        -->
        </Root>
    </Loggers>
</Configuration>