<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

    <Properties>
        <Property name="LOG_PATTERN">
            %d{yyyy-MM-dd HH:mm:ss.SSS} %5p ${hostName} --- [%15.15t] %-40.40c{1.} : %m%n%ex
        </Property>
    </Properties>

    <Appenders>
        <Console name="LogToConsole" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>

        <File name="LogToFile" fileName="logs/app.log">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
        </File>

        <Jdbc name="DatabaseAppender" tableName="log4j2.systemlog">
            <DriverManager
                    connectionString="jdbc:postgresql://localhost:5432/javacnj" 
                    driverClassName="org.postgresql.Driver" 
                    username="postgres" 
                    password="postgres"  />
            <Column name="eventdate" isEventTimestamp="true" />
            <Column name="level" pattern="%level" isUnicode="false" />
            <Column name="logger" pattern="%logger{36}" isUnicode="false"/>
            <Column name="message" pattern="%message" isUnicode="false" />
            <Column name="exception" pattern="%exception"  isUnicode="false" />
        </Jdbc>

    </Appenders>
        
    <Loggers>
        <Logger name="br.cnj.projeto" level="DEBUG" additivity="false">
            <AppenderRef ref="LogToConsole"/>
            <AppenderRef ref="LogToFile"/>           
            <AppenderRef ref="DatabaseAppender"/>
        </Logger>
        <Logger name="org.springframework" level="WARN" additivity="false">
            <AppenderRef ref="LogToFile"/>
        </Logger>
        <Root level="INFO">
            <AppenderRef ref="LogToConsole"/>
        </Root>
    </Loggers>
</Configuration>